body {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif;
    text-align: center;
}

label {
    margin-top: 20px;
    display: block;
}

select {
    padding: 5px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}
